// Put variables here
$font: 'Lato', sans-serif;
$blueDarker:#13124F;
$white:#eeeeee;
$pink:#F61067;
$blueLighter:#352B5A;
$grey:#9090A5;
$green:#2ad392;
$LightBlue:#3fa9f5;


.jumbotron {
    background: $blueDarker;
    color:$white;
    border-radius:0px;
    border:0px;
    font-family:$font;

    };


.btn-primary{
  background: $pink;
  border-radius:0px;
  font-family:$font;
};

.btn-primary:hover{
 background: $green; 
}
  
.navbar-default {
  background: $blueLighter;
  margin-bottom:-5px;
  border-radius:0px;
  border:0px;
  }; 

.panel{
   border-radius:0px;
    border:0px;
}

.msg{
  background:$pink;
  color:$white;
  text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
    
}

.msg:hover{
background: $LightBlue;
}

.badge{
  background:$blueDarker;
}


.box1{
  background:$blueDarker;
  coLor:$white;
  text-align: center;
}

.panel-heading{
  background:$grey;
  border-radius:0px;
  border:0px; 
}

.btn-side{
  width:245px;
  height:40px;
}

.list-group-item{
 background: $blueDarker;
 border:0px;
}

.panel-footer{
    background: $blueLighter;
}

.logo{
  width:140px;
  margin-top:-12px;
}

.form-control{
  background: $blueLighter;
  border-radius:0px;
  border-left:0px;
  border-right:0px;
}

.yas{
  
};

.nope{
  background:$white;
  margin-left:10px;
  width:100px;
  
  color:$green;
  border-color:$green;
}

.btn-vote{
   width:170px;
  height:40px;
}

.progress{
   border-radius:0px;
}

.progress-bar-success{
 background:$pink;
}

.progress-bar-danger{
 background:$green;
}

.alert-info{
  background:$grey;
  border-radius:0px;
  border:0px;
  color:$white;
  margin-top:10px;
}

footer{
  background:$blueDarker;
  margin:0;
  padding:5px;
  color:$white;
  
}