/* bootstrap */

body {
  font-family: "Lato", sans-serif; /* $font */
  color: #eeeeee; /* $white */
}

.jumbotron {
  background: #13124f; /* $blueDarker */
  color: #eeeeee; /* $white */
  border-radius: 0;
  border: 0;
  font-family: "Lato", sans-serif; /* $font */
}

.btn-primary {
  background-color: #f61067; /* $pink */
  border-radius: 0;
  font-family: "Lato", sans-serif; /* $font */
  border: 1px solid #f61067; /* Added for consistency */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #2ad392; /* $green */
  border-color: #2ad392; /* Added for consistency */
}

.navbar-default {
  background-color: #352b5a; /* $blueLighter */
  margin-bottom: -5px;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #eeeeee; /* $white. added to ensure text color */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #3fa9f5; /* $LightBlue, or a suitable hover color */
    background-color: transparent; /*Ensuring no background on hover*/
}

.panel {
  border-radius: 0;
  border: 0;
}

.msg {
  background-color: #f61067; /* $pink */
  color: #eeeeee; /* $white */
  text-align: center;
}

.msg:hover {
  background-color: #3fa9f5; /* $LightBlue */
}

.badge {
  background-color: #13124f; /* $blueDarker */
}

.box1 {
  background-color: #13124f; /* $blueDarker */
  color: #eeeeee; /* $white */
  text-align: center;
}

.panel-heading {
  background-color: #9090a5; /* $grey */
  border-radius: 0;
  border: 0;
}

.btn-side {
  width: 245px;
  height: 40px;
}

.list-group-item {
  background-color: #13124f; /* $blueDarker */
  border: 0;
  color: #eeeeee; /*$white, added to ensure text color*/
}

.panel-footer {
  background-color: #352b5a; /* $blueLighter */
  color: #eeeeee; /*$white, added to ensure text color*/
}

.logo {
  width: 140px;
  margin-top: -12px;
}

.form-control {
  background-color: #f61067; /* $blueLighter */
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  color: #eeeeee; /*$white, added to ensure text color*/
}

.nope {
  background-color: #eeeeee; /* $white */
  margin-left: 10px;
  width: 100px;
  color: #2ad392; /* $green */
  border-color: #2ad392; /* $green */
}

.btn-vote {
  width: 170px;
  height: 40px;
}

.progress {
  border-radius: 0;
}

.progress-bar-success {
  background-color: #f61067; /* $pink */
}

.progress-bar-danger {
  background-color: #2ad392; /* $green */
}

.alert-info {
  background-color: #9090a5; /* $grey */
  border-radius: 0;
  border: 0;
  color: #eeeeee; /* $white */
  margin-top: 10px;
}

footer {
  background-color: #13124f; /* $blueDarker */
  margin: 0;
  padding: 5px;
  color: #eeeeee; /* $white */
}
